<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Production</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.THEME</param-name>
        <param-value>none</param-value>
    </context-param>
    <context-param>
        <param-name>org.primefaces.extensions.WRAP_PRIME_FACES_RESOURCES</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>org.primefaces.extensions.PRIME_FACES_VERSION</param-name>
        <param-value>3.5</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.htm</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>org.fes.hydrology_programme.servlets.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <security-constraint>
        <display-name>SLL Security</display-name>
        <web-resource-collection>
            <web-resource-name>AllPages</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>FES_SECURITY_CONSTRAINTS</display-name>
        <web-resource-collection>
            <web-resource-name>FES_WEB_RESOURCE</web-resource-name>
            <description/>
            <url-pattern>/pages/*</url-pattern>
            <url-pattern>/reports/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>PUT</http-method>
            <http-method>HEAD</http-method>
            <http-method>POST</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>ALL_USERS</role-name>
            <role-name>SYSTEM_USERS</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>HydrologyRealm</realm-name>
        <form-login-config>
            <form-login-page>/Login.htm</form-login-page>
            <form-error-page>/LoginError.htm</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description/>
        <role-name>ALL_USERS</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>SYSTEM_USERS</role-name>
    </security-role>
    <welcome-file-list>
        <welcome-file>redirect.jsp</welcome-file>
        <welcome-file>pages/redirect.jsp</welcome-file>
    </welcome-file-list>
 
</web-app>
